// Created page for orderconfirmation customisation styles

//Roboto regular 400 - font family
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

//Global variables is here
$myFont: "Roboto", sans-serif;
$blackColor: #000;
$whiteColor: #ffffff;

* {
  font-family: "Roboto", sans-serif;
}

/******************HEADER SECTION SYLES IS HERE*************************************************************/
.containercheckout-header {
  background: $whiteColor;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0px 40px;
  .containercheckout-head-main {
    display: flex;
    justify-content: space-between;
    padding: 30px 30px 30px 0px;
    #logoImage {
      height: 20px;
    }
    .cancel-header {
      font-family: $myFont;
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      color: $blackColor;
    }
  }
}

/********************ORDER INFORMATION SECTION SYLES IS HERE***************************************************/
//style for appending ordernumber
.ordernumber {
  font-family: $myFont;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: $blackColor;
}

.ordernumberlabel {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: $myFont;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: $blackColor;
}

.cart {
  margin: 0px !important;
}

.layout {
  margin: 0px !important;
  padding: 0px !important;
}



.optimizedCheckout-contentPrimary {
  display: flex !important;
  flex-direction: column !important;
  font-family: $myFont;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: $blackColor;
  .layout-main {
    padding-left: 0px !important;
    .orderConfirmation {
      // ordernumber,orderstatus,payment instruction hideing that section
      .orderConfirmation-section {
        display: none;
      }
      .optimizedCheckout-headingPrimary {
        font-size: 40px !important;
        font-weight: 400 !important;
        font-family: $myFont;
      }
      //hideing the "continue button container"
      .continueButtonContainer {
        display: none;
      }
    }
  }
  .cart-priceItem {
    display: flex !important;
    flex-direction: row !important;
    justify-content: space-between !important;
  }

  .layout-cart {
    width: 48%;
    padding-left: 0px !important;
    .optimizedCheckout-orderSummary {
      background-color: #f5f5f5 !important;
      border-color: #ffffff;
      box-shadow: none !important;
      border-radius: 5px;
      .cart-header {
        .optimizedCheckout-headingSecondary {
          font-family: "Roboto";
          font-style: normal;
          font-weight: 400;
          font-size: 21px;
          line-height: 28px;
          color: #000;
        }
        .cart-header-link {
          text-decoration: none;
          color: $blackColor;
          &:hover {
            text-decoration: underline;
            color: $blackColor;
          }
        }
      }

      .optimizedCheckout-orderSummary-cartSection {
        border-color: #f5f5f5 !important;
        .optimizedCheckout-contentPrimary[data-test="cart-count-total"] {
          display: none !important;
        } //items quantity hideing
        .product-figure {
          display: none !important;
        } //hideing the product image
        [data-test="cart-item-product-title"] {
          font-family: $myFont;
          font-style: normal;
          font-weight: 400;
          font-size: 18px;
          line-height: 28px;
          color: $blackColor;
        }
        [data-test="cart-item-product-price"] {
          font-family: "Roboto";
          font-style: normal;
          font-weight: 400;
          font-size: 18px;
          line-height: 28px;
          color: $blackColor;
        }
        [data-test="cart-price-label"] {
          font-family: "Roboto";
          font-style: normal;
          font-weight: 600;
          font-size: 18px;
          line-height: 24px;
          color: #000000;
        }
        [data-test="cart-price-value"] {
          font-family: "Roboto";
          font-style: normal;
          font-weight: 600;
          font-size: 16px;
          line-height: 24px;
          color: #000000;
        }

        .cart-priceItem--total {
          .cart-priceItem-label {
            [data-test="cart-price-label"] {
              font-family: "Roboto";
              font-style: normal;
              font-weight: 600;
              font-size: 18px;
              line-height: 28px;
              color: #000000;
            }
          }
          .cart-priceItem-value {
            [data-test="cart-price-value"] {
              font-family: "Roboto";
              font-style: normal;
              font-weight: 400;
              font-size: 24px;
              line-height: 32px;
              text-align: right;
              color: #000000;
            }
          }
        }

        // border bottom order information box
        .productList {
          border-bottom: 1px solid #ddd;
          padding-bottom: 30px;
        }

        [data-test*="cart-shipping"] {
          display: none;
        } //hideing shiping detail
        [data-test*="cart-taxes"] {
          display: none;
        } // hiding gst section

        [data-test="cart-coupon"] {
          display: none;
        } //hiding coupon section

        [data-test="cart-item-digital-product"] {
          display: none;
        }
      }
    }
  }
}

/********************MANAGE YOUR ENROLLMENT SECTION SYLES IS HERE***********************************************/
#main-contianer-div {
  width: 95%;
  margin: auto;
  #checkout-app {
    padding: 0px 30px 30px 30px;
  }
  #enrollmentsection {
    padding: 0px !important;
    .maincontainer1 {
      width: 100%;
      padding: 0px 30px 30px 30px;
      margin-bottom: 10px;

      #supporttext {
        width: 46%;
        font-family: $myFont;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        padding-bottom: 10px;
        color: $blackColor;
      }
      #gotohomepage {
        .gotohomepage {
          font-family: $myFont;
          color: $blackColor;
          text-transform: uppercase;
          font-weight: 600;
          font-size: 14px;
          padding-bottom: 10px;
          line-height: 20px;
          font-style: normal;
        }
        .underlinelink {
          text-decoration: none;
          &:hover {
            text-decoration: underline;
          }
        }
        .right-direction {
          position: absolute;
          margin-top: 3px;
          margin-left: 5px;
        }
      }
      .spaceingline {
        padding-bottom: 20px;
      }
      .article-block-title {
        font-family: $myFont;
        font-style: normal;
        font-weight: 400;
        font-size: 30px;
        line-height: 40px;
        margin-bottom: 0% !important;
        color: $blackColor;
      }
      .underenrollment {
        border-bottom: 5px solid #d41b2c;
        width: 5%;
      }
      .enrollment-box-main {
        display: flex;
        gap: 5px;
        margin: 30px 0px;
        .subcontainer1 {
          border: 1px solid #e3e3e3;
          border-radius: 7px;
          width: 50%;
          padding: 30px;
          .productmainhead {
            font-family: var(--font-family);
            font-style: normal;
            font-weight: 400;
            font-size: 21px;
            line-height: 28px;
            color: var(--black);
            margin-bottom: 20px;
          }
          .labeldate {
            display: flex;
            gap: 40px;
            .label {
              color: #666666;
              font-family: $myFont;
              font-style: normal;
              font-weight: 400;
              font-size: 12px;
              line-height: 16px;
            }
            .date {
              color: $blackColor;
              font-family: $myFont;
              font-style: normal;
              font-weight: 600;
              font-size: 18px;
              line-height: 28px;
            }
          }
          .learnbutton {
            background: #a52238;
            padding: 15px 30px;
            color: #f5f5f5;
            width: 50%;
            text-transform: uppercase;
            text-align: center;
            letter-spacing: 0.15em;
            &:hover {
              color: #f5f5f5;
              background-color: #d41b2c;
            }
          }
        }
        .subcontainer2 {
          padding: 30px;
          .DashboardSection {
            margin-bottom: 30px;
            .TitleDescription {
              display: flex;
              gap: 10px;
              .EnrollDashTitle {
                font-family: $myFont;
                font-style: normal;
                font-weight: 600;
                font-size: 18px;
                line-height: 28px;
                color: $blackColor;
                margin-bottom: 15px;
              }
            }
            .DashbordDescription {
              font-family: $myFont;
              font-style: normal;
              font-weight: 400;
              font-size: 14px;
              line-height: 20px;
              color: $blackColor;
              width: 71%;
            }
            .IconTitle {
              display: flex;
              gap: 2px;
              .button-label {
                font-family: $myFont;
                font-style: normal;
                font-weight: 600;
                font-size: 12px;
                line-height: 16px;
                letter-spacing: 0.15em;
                text-transform: uppercase;
                color: $blackColor;
                &:hover {
                  color: $blackColor;
                }
              }
              .underlinelink {
                text-decoration: none;
                &:hover {
                  text-decoration: underline;
                }
              }
            }
          }
          .ProgramsSection {
            display: flex;
            gap: 5px;
            .EnrollProgramTitle {
              font-family: $myFont;
              font-style: normal;
              font-weight: 600;
              font-size: 18px;
              line-height: 28px;
              color: $blackColor;
              margin-bottom: 15px;
            }
          }
          .ProgramsDescription {
            font-family: $myFont;
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            color: $blackColor;
            width: 75%;
          }
          .IconTitle {
            display: flex;
            gap: 2px;
            .button-label {
              font-family: var(--font-family);
              font-style: normal;
              font-weight: 600;
              font-size: 12px;
              line-height: 16px;
              letter-spacing: 0.15em;
              text-transform: uppercase;
              color: var(--black);
              &:hover {
                color: var(--black);
              }
            }
            .underlinelink {
              text-decoration: none;
              &:hover {
                text-decoration: underline;
              }
            }
          }
        }
      }
    }
  }
}

/******************FOOTER SECTION SYLES IS HERE******************************************************************/

.containercheckout-footer {
  background: #f2f2f2;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  height: 12vh;
  padding: 50px;
  .containercheckout-footer-main {
    display: flex;
    justify-content: space-between;
    // #footerlogo {
    // }
    .footer-copy {
      font-family: $myFont;
      font-size: 14px;
      font-weight: 400;
      line-height: 20px;
      color: #999999;
    }
  }
}

/*********************************************************************************************************************/
/********************MEDIA QUERY**************************************************************************************/
/*********************************************************************************************************************/

/*********************************************************************************************/

@media only screen and (max-width: 980px) {
  //767
  // order information heading order information box
  [data-test="modal-heading"] {
    width: 58%;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 28px;
    color: #000000;
  }
  [data-test="cart-item-digital-product"] {
    display: none;
  }
  [data-test="cart-item"] {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
  }

  .spaceingline {
    padding: 20px 0px;
    width: 80%;
    margin: 0px 25px;
  }

  .optimizedCheckout-headingPrimary {
    width: 80%;
  }
  .article-block-title {
    // padding-top: 20px;
    width: 60%;
  }
  #checkout-app {
    padding: 0px !important;
  }
  .layout-main {
    padding-right: 0px !important;
    padding-left: 0px !important;
  }
  .card {
    width: 100%;
  }

  .optimizedCheckout-orderSummary {
    background-color: #f5f5f5 !important;
    border-color: #ffffff;
    box-shadow: none !important;
    border-radius: 5px;
    padding-left: 0px !important;

    // print icon and text color change
    .cart-modal-link {
      text-decoration: none;
      color: #000;
      &:hover {
        text-decoration: underline;
        color: #000;
      }
    }

    .cart-header {
      .optimizedCheckout-headingSecondary {
        font-family: $myFont;
        font-style: normal;
        font-weight: 400;
        font-size: 21px;
        line-height: 28px;
        color: $blackColor;
      }
      .cart-header-link {
        text-decoration: none;
        color: $blackColor;
        &:hover {
          text-decoration: underline;
          color: $blackColor;
        }
      }
    }

    .optimizedCheckout-orderSummary-cartSection {
      border-color: #f5f5f5 !important;
      .optimizedCheckout-contentPrimary[data-test="cart-count-total"] {
        display: none !important;
      } //items quantity hideing
      .product-figure {
        display: none !important;
      } //hideing the product image
      [data-test="cart-item-product-title"] {
        font-family: $myFont;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 28px;
        color: $blackColor;
      }
      [data-test="cart-item-product-price"] {
        font-family: "Roboto";
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 28px;
        color: $blackColor;
      }
      [data-test="cart-price-label"] {
        font-family: "Roboto";
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 24px;
        color: #000000;
      }
      [data-test="cart-price-value"] {
        font-family: "Roboto";
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        color: #000000;
      }

      .cart-priceItem--total {
        .cart-priceItem-label {
          [data-test="cart-price-label"] {
            font-family: "Roboto";
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            line-height: 28px;
            color: #000000;
          }
        }
        .cart-priceItem-value {
          [data-test="cart-price-value"] {
            font-family: "Roboto";
            font-style: normal;
            font-weight: 400;
            font-size: 24px;
            line-height: 32px;
            text-align: right;
            color: #000000;
          }
        }
      }

      // border bottom order information box
      .productList {
        border-bottom: 1px solid #ddd;
        padding-bottom: 30px;
      }

      [data-test*="cart-shipping"] {
        display: none;
      } //hideing shiping detail
      [data-test*="cart-taxes"] {
        display: none;
      } // hiding gst section

      [data-test="cart-coupon"] {
        display: none;
      } //hiding coupon section

      [data-test="cart-item-digital-product"] {
        display: none;
      }
    }
  }

  #main-contianer-div {
    width: 90%;
    #enrollmentsection {
      padding: 0px;
      margin-left: 0px;
      .maincontainer1 {
        padding: 0px;
        #supporttext {
          width: 100%;
          padding-right: 20px;
          padding-top: 30px;
        }
        .underenrollment {
          width: 15%;
        }
        .enrollment-box-main {
          display: flex;
          flex-direction: column;
          .maincontainer1 {
            display: flex;
            flex-direction: column;
            padding: 0px;
          }
          .subcontainer1 {
            width: 100%;
            padding: 20px;
            .learnbutton {
              width: 100%;
            }
          }
          .subcontainer2 {
            padding: 20px;
            .DashboardSection .DashbordDescription {
              width: 100%;
            }
            .ProgramsDescription {
              width: 100%;
            }
          }
        }
      }
    }
  }

  .cartDrawer {
    position: sticky !important;
  }

  .productList .product .product-figure {
    display: none !important;
  }

  // mobile ordersummary
  .cart-modal-close {
    display: none;
  }
  .ReactModalPortal,
  .cartDrawer.optimizedCheckout-orderSummary {
    display: none;
  }
  .cart-modal-body {
    padding: 0px 0;
  }
  .mobile-product-cart .product {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row-reverse;
  }
  .mobile-product-cart {
    margin-bottom: 20px;
  }


  // footer
  
  .containercheckout-footer-main {
    display: flex;
    flex-direction: column;
  }
  .footer-copy {
    padding-top: 10px;
    margin-bottom: 0px !important;
  }
  
  .containercheckout-footer {
    padding: 20px !important;
  }
  .checkoutFooter-logo {
    height: 0px;
  }
}



